<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Map Application</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle></ion-card-subtitle>
            <ion-card-title>User Login</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <form (ngSubmit)="logForm()">
              <ion-item>
                <ion-label position="floating">Username<ion-icon name="person"></ion-icon></ion-label>
                <ion-input
                  type="text"
                  [(ngModel)]="todo.user"
                  name="title"
                  required
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Password<ion-icon name="key"></ion-icon></ion-label>
                <ion-input
                  type="password"
                  [(ngModel)]="todo.password"
                  name="password"
                  required
                ></ion-input>
              </ion-item>
              <div style="margin-top: 2%">
                  <ion-button type="submit" shape="round" fill="outline"
                  >Login<ion-icon name="arrow-round-forward"></ion-icon></ion-button
                >
                <ion-button color="danger" (click)="OnClearInputs()" type="clear" shape="round" fill="outline"
                  ><ion-icon name="close"></ion-icon>Clear</ion-button>
              </div>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
