<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Map Component
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-header padding>
              <ion-card-subtitle></ion-card-subtitle>
              <ion-card-title>Spatial View</ion-card-title>
            </ion-header>
            <ion-card-content id="mapbody">
              <app-google-maps></app-google-maps>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
